<% content_for :top_bar do %>
  <h1 class="tree_nodetitle"><%= @tree_node.name %></h1>
<% end %>

<% content_for :item_bar do %>
  <%= link_to 'Cancel', manage_tree_nodes_path, class: 'btn btn-primary' %>
<% end %>

<%= render 'form' %>