<% content_for :top_bar do %>
  <h1 class="tree_nodetitle">New TreeNode</h1>
  <p>
    New tree nodes will have no parent. They will be at the bottom of the tree where you can drag them to the correct parent.
  </p>
<% end %>

<% content_for :item_bar do %>
  <%= link_to 'Cancel', manage_tree_nodes_path, class: 'btn btn-primary' %>
<% end %>

<%= render 'form' %>