<h1 class="pagetitle">
  Publication: <%= link_to pub.try(:wos_title)||'Unknown Publication', pub %>
</h1>
<h1 class="">
  Plant: <%= link_to plant.display_name, plant %> <%= "(var. #{plant.variety})" if plant.variety %>
  <small style='white-space:nowrap'>
  <%= plant.common_name %>
  </small>
</h2>