<% content_for :top_bar do %>
  <h1 class="pagetitle">New Publication Table</h1>
  <h1 class="">
    Publication: <%= link_to @pub.wos_title||'Unknown Publication', @pub %>
  </h1>
<% end %>

<% content_for :item_bar do %>
  <%= link_to 'Back', drafts_path, class: 'btn btn-primary' %>
<% end %>

<%= render 'form' %>