<% content_for :top_bar do %>
  <h1 class="pagetitle">New Publication Entry</h1>
  <h1 class="">
    <%= link_to @pub.wos_title||'Unknown Publication', @pub %>
  </h1>
<% end %>

<% content_for :item_bar do %>
  <%= link_to 'Back', :back, class: 'btn btn-primary' %>
<% end %>

<%= render 'form' %>