<% content_for :top_bar do %>
  <h1 class="pagetitle">New Trivial Name</h1>
<% end %>

<% content_for :item_bar do %>
  <%= link_to 'Back', trivial_names_path, class: 'button' %>
<% end %>

<%= render 'form' %>