<% content_for :top_bar do %>
  <h1 class="pagetitle">Update User</h1>
<% end %>

<% content_for :item_bar do %>
	<% if can? :delete, @user %>
  	<%= link_to 'Remove User', @user, class: 'btn btn-danger', data: {
			:confirm => "Permanently Remove user '#{@user.email}' ?"
			}, :method => :delete %>
	<% end %>
<% end %>

<%= render 'form' %>