<% content_for :top_bar do %>
	<h1 class="pagetitle"><%= @user.email %></h1>
<% end %>


<p>
  <strong>Created:</strong>
  <%= @user.created_at %>
	
</p>

<%= link_to 'Change Password / Email', edit_user_path(@user), class: 'btn btn-primary' %>
