<div class='row'>
	<div class='col-sm-12 col-md-8 pull-left'>
		<ul class="pagination">
			<%= paginate items %>
		</ul>
	</div>
	<div class='col-xs-12 col-sm-4 search'>
    <%= form_tag nil, method: :get do %>
      <div class='form-inline pull-left-sm pull-right-md'>
		    <label for="query">Search:</label>
				<%= text_field_tag :query, params[:query], class: 'form-control' %>
				<%= submit_tag "Go", class: "btn btn-info "%>
			</div>
    <% end %>
	</div>
</div>