<% content_for :body do -%>
	<div class='main-image'>
		<div class='caption-mid'>
			Quizing the Chemical<br/>
			Factories of Oilseeds
		</div>
		<div class='caption'>
			Hundreds of fatty acid structures synthesized by thousands of plants and their phylogenetic relationships
		</div>
	</div>
<% end -%>


<%= @page.content.try(:html_safe) %>