<% content_for :top_bar do %>
  <h1 class="pagetitle"><%= @page.title %></h1>
<% end %>

<% content_for :item_bar do %>
  <%= link_to 'Back', pages_path, class: 'btn btn-primary' %>
<% end %>

<%= render 'form' %>