<% content_for :top_bar do %>
  <h1 class="pagetitle">Editing Fatty Acid <i><%= @fatty_acid.id %></i></h1>
<% end %>

<% content_for :item_bar do %>
  <%= link_to 'Back', @fatty_acid, class: 'btn btn-primary' %>
  <%= link_to 'Delete', @fatty_acid, class: 'btn btn-warning', method: :delete, data: {confirm: 'This item will be marked for deletion. You can apply this change by publishing it under the Data tab. Continue?'} if can? :delete, @fatty_acid %>
<% end %>

<%= render 'form' %>