<% content_for :top_bar do %>
	<h1 class="pagetitle">Plants</h1>
<% end %>

<% content_for :item_bar do %>
    <%#= link_to 'New Plant', new_plant_path, class: 'btn btn-primary'%>
    <%= link_to 'Download', params.merge(format: 'csv'), class: 'btn btn-primary'%>
<% end %>

<ul class="nav nav-pills">
	<li style="padding:10px">Display as: </li>
  <%= content_tag(:li, (link_to "Tree", plants_path(fmt: 'tree')), class: "#{'active' if @format_partial == 'tree'}")  %>
  <%= content_tag(:li, (link_to "Listing", plants_path(fmt: 'listing')), class: "#{'active' if @format_partial == 'listing'}")  %>
</ul>

<%= render @format_partial, plants: @plants %>