<% content_for :top_bar do %>
  <h1 class="pagetitle">New Plant</h1>
<% end %>

<% content_for :item_bar do %>
  <%= link_to 'Back', drafts_path, class: 'btn btn-primary' %>
<% end %>

<%= render 'form' %>