<%% content_for :top_bar do %>
  <h1 class="pagetitle">Editing <%= singular_table_name.titleize %></h1>
<%% end %>

<%% content_for :item_bar do %>
  <%%= link_to 'Back', <%= index_helper %>_path, class: 'button' %>
<%% end %>

<%%= render 'form' %>