<% content_for :top_bar do %>
  <h1 class="pagetitle">Editing Publication</h1>
<% end %>

<% content_for :item_bar do %>
  <%= link_to 'Cancel', @pub, class: 'btn btn-primary' %>
  <%= link_to 'Delete', @pub, class: 'btn btn-warning', method: :delete, data: {confirm: 'This item will be marked for deletion. You can apply this change by publishing it under the Data tab. Continue?'} if can? :delete, @pub %>
<% end %>

<%= render 'form' %>