<% content_for :top_bar do %>
  <h1 class="pagetitle">Editing Triacylglycerol</h1>
<% end %>

<% content_for :item_bar do %>
  <%= link_to 'Back', triacylglycerols_path, class: 'button' %>
<% end %>

<%= render 'form' %>